<!-- Note:  A "Server" is not itself a "Container", so you may not
     define subcomponents such as "Valves" at this level.
     Documentation at /docs/config/server.html
 -->
<properties>
      <tomcat.ports.shutdown>8005</tomcat.ports.shutdown>
      <tomcat.ports.http>8080</tomcat.ports.http>
      <tomcat.ports.http.redirect>8443</tomcat.ports.http.redirect>
      <tomcat.ports.ajp>8009</tomcat.ports.ajp>
  </properties>

<Server port="${tomcat.ports.shutdown}" shutdown="SHUTDOWN">

  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- JMX Support for the Tomcat server. Documentation at /docs/non-existent.html -->
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

 <!-- the Sakai Component Listener -->
 <Listener className="org.sakaiproject.component.loader.tomcat6.server.SakaiLoader"/>


  <!-- A "Service" is a collection of one or more "Connectors" that share
       a single "Container" Note:  A "Service" is not itself a "Container", 
       so you may not define subcomponents such as "Valves" at this level.
       Documentation at /docs/config/service.html
   -->
  <Service name="Catalina">
  
    <!-- A "Connector" represents an endpoint by which requests are received
         and responses are returned. Documentation at :
         Java HTTP Connector: /docs/config/http.html (blocking & non-blocking)
         Java AJP  Connector: /docs/config/ajp.html
         APR (HTTP/AJP) Connector: /docs/apr.html
         Define a non-SSL HTTP/1.1 Connector on port ${tomcat.ports.http}
    -->
    <Connector port="${tomcat.ports.http}" protocol="HTTP/1.1" 
     <!-- future  shared sessions          emptySessionPath="true" -->
               enableLookups="false"
               maxPostSize="0" <!-- disable max post size -->
               connectionTimeout="20000" 
               redirectPort="${tomcat.ports.http.redirect}" 
               URIEncoding="UTF-8" 
	       xpoweredBy="Sakai ${sakai.version} " 
               acceptCount="100"
               bufferSize="2048"
               connectionTimeout="20000"
               disableUploadTimeout="true"
               maxHttpHeaderSize="4096"
               maxThreads="40"
               
              />

    <!-- Define an AJP 1.3 Connector on port ${tomcat.ports.ajp} -->
    <Connector port="${tomcat.ports.ajp}" 
	protocol="AJP/1.3" 
 <!-- future  shared sessions          emptySessionPath="true" -->
               enableLookups="false"
               maxPostSize="0" <!-- disable max post size -->
               connectionTimeout="20000"
               redirectPort="${tomcat.ports.http.redirect}" 
               URIEncoding="UTF-8" 
               xpoweredBy="Sakai ${sakai.version} "
	       />


    <!-- An Engine represents the entry point (within Catalina) that processes
         every request.  The Engine implementation for Tomcat stand alone
         analyzes the HTTP headers included with the request, and passes them
         on to the appropriate Host (virtual host).
         Documentation at /docs/config/engine.html -->

    <Engine name="Catalina" defaultHost="localhost"
        configClass="org.sakaiproject.component.loader.tomcat6.server.SakaiContextConfig"
	>

      <!-- Define the default virtual host
           Note: XML Schema validation will not work with Xerces 2.2.
       -->
      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true"
            xmlValidation="false" xmlNamespaceAware="false"
         
        >

      </Host>
    </Engine>
  </Service>
</Server>
